---
import { ClientRouter } from "astro:transitions";
---

<html lang='en' suppressHydrationWarning>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <ClientRouter />
  </head>
  <body
    class='flex flex-col min-h-screen'
    transition:persist
    transition:animate='none'
    transition:name='page-layout'
  >
    <slot />
  </body>
</html>
